
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-blue:#00d8ff;
    --primary-purple: #6a00ff;
  }

.icon{color: hsl(115, 70%, 41%)}
  
  .blue {
    color: var(--primary-blue)
  }
  
  .outline {
    background-color: transparent!important;
  }
  
  @layer base {

    html {
      font-family: 'Poppins', sans-serif;
    }


    * {
      @apply font-[Poppins]
    }
    h1 {
      @apply text-3xl   md:text-4xl font-bold
    }
/*   
    li {
      @apply p-4
    } */
  
    button {
      @apply border border-lightColor bg-lightColor py-2 px-5 rounded-md hover:bg-transparent text-darkColor  hover:text-lightColor duration-300 ease-out
    }

    h2{@apply text-3xl font-bold}
    h3{@apply text-xl font-bold}

    .icon{@apply text-xl  cursor-pointer}
  }



/* @font-face {
    font-family: 'glacial_indifferencebold';
    src: url('./src/assets/fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('./src/assets/fonts/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('./src/assets/fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('./src/assets/fonts/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

